# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media/
staticfiles/
.env

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
